.container {
    position: relative;
    width: 400px;
    margin: auto;
    overflow: hidden;
    height: 100%;
}

.center {
    margin: auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.sizes {
    .small {
        flex-basis: 22%;
        .img {
            background-position-x: 7px;
            span {
                margin-top: 30px;
                font-size: 20px;
            }
        }
    }
    .medium {
        flex-basis: 33%;
        .img {
            background-position-x: 10px;
            span {
                margin-top: 43px;
                font-size: 23px;
            }
        }
    }
    .large {
        flex-basis: 44%;
        .img {
            background-position-x: 14px;
            span {
                margin-top: 56px;
            }
        }
    }
    & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        .img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            background-image: url("/assets/fries.png");
            height: 200px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        span {
            text-align: center;
        }
    }
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.button-bar {
    display: flex;
    justify-content: space-between;
}

.one-button {
    margin-top: 30px;
    text-align: center;
}

.address {
    .mat-radio-button ~ .mat-radio-button {
        margin-right: 16px;
    }
    .mat-error {
        display: inline;
        vertical-align: bottom;
        &::before {
            content: " - ";
        }
    }
}

.confirm {
    display: block !important;

    .data {
        text-align: center;
    }

    .field {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 40px;
        & > * {
            text-align: right;
        }
    }

    button {
        margin-top: 40px;
    }

    h2 {
        margin: 10px 0;
    }
}

.track {
    flex-direction: column;
    .small {
        text-align: center;
        font-size: smaller;
    }
    .tracking {
        display: flex;
        .tracking-step {
            flex-basis: 25%;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            padding: 5px;
            text-align: center;

            &.complete {
                background-color: grey;
                color: black;
            }

            &.active {
                background-color: pink;
                color: black;
            }

            &:first-child {
                border-top: 1px solid white;
                border-right: 1px solid white;
                border-bottom: 1px solid white;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            &:not(:first-child) {
                border-right: 1px solid white;
            }

            &:last-child {
                border-top: 1px solid white;
                border-left: 1px solid white;
                border-bottom: 1px solid white;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
    }
}

@media (max-width: 700px) {
    .container {
        width: 100%;
    }
}
