<div *ngIf="orderState>=0" [ngSwitch]="orderState" class="container" @parent>
    <div *ngSwitchCase="0" class="sizes center" @flyInOut>
        <div (click)="clickOrder(0)" class="small">
            <div class="img"><span>&#8362;5</span></div>
            <span>קטן</span>
        </div>
        <div (click)="clickOrder(1)" class="medium">
            <div class="img"><span>&#8362;10</span></div>
            <span>בינוני</span>
        </div>
        <div (click)="clickOrder(2)" class="large">
            <div class="img"><span>&#8362;15</span></div>
            <span>גדול</span>
        </div>
    </div>

    <div *ngSwitchCase="1" class="address center" @flyInOut>
        <form class="example-form" novalidate standalone>
            <mat-radio-group name="tomer-fries-crispiness" [(ngModel)]="crispiness" aria-label="Select an option">
                <mat-radio-button value="1">קריספי</mat-radio-button>
                <mat-radio-button value="2">רך</mat-radio-button>
            </mat-radio-group>

            <mat-form-field class="example-full-width">
                <mat-label>לאן לשלוח?</mat-label>
                <input matInput name="tomer-fries-address" placeholder="כתובת או מספר דירה" value=""
                    [(ngModel)]="address">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>מס' טלפון לאישור</mat-label>
                <input matInput name="tomer-fries-phone" placeholder="דוגמא: 053-888888" value=""
                    [(ngModel)]="phoneNumber">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>הערות לשליח</mat-label>
                <textarea name="tomer-fries-notes" matInput placeholder="" [(ngModel)]="notes"></textarea>
            </mat-form-field>

            <button type="button" [disabled]="!isStep1Valid()" mat-raised-button color="accent" (click)="clickSummary()">עבור לשלב הבא</button>
        </form>
    </div>

    <div *ngSwitchCase="2" class="confirm center" @flyInOut>
        <h1>סיכום ההזמנה</h1>
        <div class="field">
            <h2>גודל</h2>
            <div class="data">{{getSize()}} - {{getCrispiness()}}</div>
            <h2>כתובת</h2>
            <div class="data">{{address}}</div>
            <h2>טלפון</h2>
            <div class="data">{{phoneNumber}}</div>
            <h2>מחיר</h2>
            <div class="data">&#8362;{{getPrice()}}</div>
            <h2>הערות</h2>
            <div class="data">{{notes}}</div>
        </div>
        <div>
            <button mat-raised-button color="accent" (click)="confirmOrder()">אישור הזמנה!</button>
        </div>
    </div>

    <div *ngSwitchCase="3" class="track center" @flyInOut>
        <h1>הזמנתך התקבלה בהצלחה!</h1>
        <h2>מעקב הזמנה</h2>
        <div class="tracking">
            <div class="tracking-step" [class.active]="trackingState===0" [class.complete]="trackingState>0">ממתין</div>
            <div class="tracking-step" [class.active]="trackingState===1" [class.complete]="trackingState>1">בהכנה</div>
            <div class="tracking-step" [class.active]="trackingState===2" [class.complete]="trackingState>2">בדרך</div>
            <div class="tracking-step" [class.active]="trackingState===3" [class.complete]="trackingState>3">הושלם!</div>
        </div>
    </div>
</div>
<button type="button" mat-raised-button color="accent" (click)="resetOrder()">התחל מחדש</button>
